*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Helvetica, Arial,
                 sans-serif;
    font-family: "system_ui", -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';;
}
.first{
    background-color: #000;
    font-size: 12px;
    padding: 8px 0px;
    text-align: center;
    width: 100%;
    height: auto;
    border-bottom:solid gray; 
    border-width: 1px; 
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}
.first:hover{
    background-color: rgb(34, 33, 33);
}
.first a{
    text-decoration: none;
    color: #fff;
}
.menubar{
    padding: 20px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    background-color: #000;
    align-items: center;
}
.nav-right{
    display: flex;
    background-color: #000;
    align-items: center;
}
.nav-left img{
    width: 150px;
    padding: 10px 20px;
}
.menu-list{
    color: #fff;
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-list li{
    list-style: none;
    display: inline;
    transition: 0.5s;
}
.menu-list li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav-right img{
    width: 35px;
    padding-right: 10px;
}

/* image area */
.content{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}
.book-image{
    display: grid;                      
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;     
    padding: 0px 40px;
}
.book-image img{
    width: 100%;
    height: auto;
    display: block;
}

   /* --------about area ----------- */

.about {
    padding: 80px 0;
    background-color: #fff;
}

.about-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* align-items: center; */
    gap: 100px;
    padding: 0 40px;
}

.about-image img {
    width: 380px;
    height: auto;
    display: block;
}

.about-text .head-1 {
    font-size: 28px;
    font-weight: 200px;
    color: #000;
    margin-bottom: 15px;
    margin-top: 50px;
}

.about-text p {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 40px;
    color: gray;
}

.img-button {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 18px 35px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* contact area */

.contact{
    width: 100%;
    background-color: #000;
    padding-top: 40px;
    border-bottom:solid gray ;
    border-width: 1px; 
}
.contact p{
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}
.contact a{
    color: #fff;
}
.contact img{
    width: 18px;
    display: inline;
    margin-left: 39em;
    padding-top: 10px; 
    padding-bottom: 25px;
    
}
/* footer area */
footer{
    padding: 10px 0px;
    background-color: #000;
}
footer p{
    color: #fff;
    text-align: center;
    font-size: 10px;
}